.root{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}
.rightContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    
}
.text {
    width: 65%;
    border-radius: 30px;
    background: #eeeeed;
    box-shadow: 33px 33px 67px #5a5a5a, -33px -33px 67px #ffffff;
    padding: 2rem;
  }
  .title{
    font-family: 'Amatic SC';
    font-size: clamp(3rem, 7vw, 8rem);
    margin: 0;
  }
  .content{
    font-family: 'Poiret One';
    font-size: clamp(0.5rem, 4vw, 3rem);

  }
  .pic{
    height: 50%;
    width: 50%;
  }
  @media screen and (max-width: 600px) {
   .root{
     padding-top: 100px;
     flex-direction: column;
     height: 100vh;
   }
   .leftContainer{
     width: 100vw;
     height: 40vh;
     padding: 0;
     margin: 0;
     display: flex;
     
    }
   .rightContainer{
    width: 100vw;
    height: 60vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .pic{
    padding: 0;
    margin: 0;
    height: 200px;
  }
}