.root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text {
    width: 65%;
    border-radius: 30px;
    background: #eeeeed;
    box-shadow: 33px 33px 67px #5a5a5a, -33px -33px 67px #ffffff;
    padding: 2rem;
  }
  .title{
    font-family: 'Amatic SC';
    font-size: 8rem;
    margin: 0;
  font-size: clamp(3rem, 7vw, 8rem);

  }
  .content{
    font-family: 'Poiret One';
    font-size: clamp(0.5rem, 3vw, 2.5rem);
  }
  .leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}
.rightContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
    
}
.icon{
    height: 8rem;
    width: 8rem;
    padding: 2rem;
    transition: 0.3s ;
}
.icon:hover{
    transform: scale(1.2);
}
.link{
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s linear;
}

.link:visited{
 color: black;
}
.link:hover{
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
.root{
    flex-direction: column;
}
.leftContainer{
    flex-direction: row;
    display: none;
}
.icon{
    height: 3rem;
    width: 3rem;
}
.rightContainer{
    width: 100vw;
}
}
