.root{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}
.arrow{
    height: 10rem;
    width: 10rem;
    transition: 0.3s ease;
}
.arrow:hover{
    transform: scale(1.2);
}
.title{
    font-size: 100px;
    font-size: clamp(45px, 6vw, 100px);
    animation: type 2s steps(22);
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid black;
    width: 22ch;
    font-family: 'Roboto Mono', monospace;
}
@keyframes type {
    0% {
        width: 0ch;
    }
    100% {
        width: 22ch;
    }
}
.text {
    /* display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black; */
    
    
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  @media screen and (max-width: 600px) {
    .title span:last-of-type {
        display: block;
    }
}
